// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here
@import '_states'
@import '_layout'
@import '_responsive'

#city-name
    height: auto
  
.city
    .remove
        display: none
        cursor: pointer
        color: red
        width: 3em
    &:hover
        .remove
            display: inline

    paddin: 1em
    [class*="span"]
        margin: .2em
    .badge, .label
        margin: .2em
        padding: .4em
    div
        text-align: center
        padding: .2em
    img
        height: 128px
