body.widget
    padding: 0
    background-color: rgb(247, 244, 240)
    .row
        margin: 0
    .days
        display: none
    #cities
        margin-top: 10px
        margin-bottom: 10px
    .city
        .remove
            display: none
        div
            padding: 0.1em
        .label-default
            display: none
    img
        height: 32px
    .temp
    .humidity
        display: none
    .container
        background-color: rgb(247, 244, 240)
        max-width: 100% !important
