body.widget
    .city
        width: 200px
        .remove
            display: none
        div
            padding: 0.1em
        .label-default
            display: none
    img
        height: 32px
    .temp
    .humidity
        display: none
    .container
        max-width: 100% !important
