#content.container
    h2 Weather forecast for Cozy
    div.row
        form#search.col-xs-8.well(role="form")
            input.form-control.city(name="city", 
                                    id="city-name", 
                                    placeholder="Type the name of a city and press enter (or name,country code to ensure country. For ex. paris,fr)",
                                    title="Type the name of a city and press enter (or name,country code to ensure country. For ex. paris,fr)",
                                    type="text")
        form#refresh.col-xs-1
            button.btn.btn-default.glyphicon.glyphicon-refresh(title="refresh")
    .alerts
    ul#cities.list-unstyled
#footer.container
    small.well.well-small.pull-right
        p
            a(href="http://openweathermap.org/") weather data from OpenWeatherMap
        p
            a(href="http://d3stroy.deviantart.com/art/SILq-Weather-Icons-356609017") icons from ~d3stroy

